/* BASE STYLES */
body {
  font-family: sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-color: #0D1117;
  color: white;
  margin: 0;
  padding: 0;
  line-height: 1.5em;
}

hr {
  border-color: #21262D;
}

a {
  color: #4B94FF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

blockquote {
  border-left: 5px solid #1F262F;
  padding: 3px 1em 3px;
}

.content-wrapper {
  max-width: 1200px;
  padding: 0px 12px 0px 12px;
  margin: auto;
}

#About-Me {
  line-height: 1.2em;
  margin-top: -0.9em;
  font-size: 1.5em;
}

.Article, .Presentation {
  line-height: 1.7em;
  font-size: 1.1em;
}

img, iframe, video {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.presentation-slides {
  border-width: 1px;
  border-style: solid;
  border-color: #1F262F;
  border-radius: 6px;
  margin-top: 2em;
  width: 70%;
  aspect-ratio: 16 / 9;
}

.giscus {
  margin-top: 1.5em;
}

.giscus-frame {
  max-width: 900px;
}

.menu, .article-meta, footer {
  text-align: center;
}

footer {
  margin-bottom: 1em;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

/* PAGE HEADER */
header {
  background: #161B22;
  position: relative;
  max-width: 1600px;
  margin: auto;
  height: 1.75rem;
  font-size: 1rem;
}

header ul, header ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

header nav {
  padding: 0 0.5rem;
}

header a {
  color: #FFF;
  line-height: 1.75rem;
  padding: 0 0.5rem;
}


/* ARTICLE HEADING */
.article-meta, .menu a {
  padding: 5px;
  border-radius: 5px;
  border-color: #30363D;
  border-style: solid;
  border-width: 1px;
}

.article-meta {
  max-width: 1500px;
  margin: auto;
}

.title {
  font-size: 1.1em;
  line-height: 1.5em;
}

/* TABLES */
table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

table thead th {
  border-bottom: 1px solid #666;
}

th, td {
  padding: 5px;
}

tr:nth-child(odd) {
  background: #13161C;
}

tr:nth-child(even) {
  background: #1F262F;
}

/* CODE BLOCKS */
pre {
  border-width: 1px;
  border-style: solid;
  border-color: #1F262F;
  border-radius: 6px;
  padding: 1em;
  scrollbar-color: #30363D #0D1117;
  overflow-x: auto;
}

pre code {
  background: none;
  padding: 0;
}

code {
  font-family: monospace;
  background: #1F262F;
  padding: 0 0.4em;
  border-radius: 0.4em;
}

/* TABLE OF CONTENTS */
#TableOfContents {
  position: fixed;
  right: 1.25em;
  background: #1F262F;
  border: 1px solid #EEE;
  border-radius: 5px;
  padding: 0.5em;
  font-size: 0.9em;
}

#TableOfContents ul {
  margin: 0;
  padding-left: 0.5em;
  list-style-type: none;
}

#TableOfContents a {
  color: #C9CACC;
}

#TableOfContents a:hover {
  color: #FFF;
}

@media screen and (max-width: 1650px) {
  #TableOfContents {
    position: static;
    width: auto;
  }
}
